body {
    background: #dddddd;
    margin: 24px;
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 250px;
    margin-left: 550px;
}

.timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: white;
}

.timer__part {
    font-size: 36px;
    font-weight: bold;
}

.timer__btn {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #00356a;
    cursor: pointer;
    margin-top: 15px;
}

.timer__btn--start {
    background: rgba(0, 184, 77, 0.361)c4;
}

.timer__btn--stop {
    background: #ff025675;
}

.text {
    color: rgba(0, 0, 255, 0.356)(0, 0, 255, 0.402);
    font-weight: bold;
    text-align: center;
}